[submodule "vsf"]
	path = vsf
	url = ../vsf.git
[submodule "application/shell/sys/linux/applets/busybox/raw"]
	path = application/shell/sys/linux/applets/busybox/raw
	url = ../../mirror/busybox.git
[submodule "application/shell/sys/linux/applets/micropython/raw"]
	path = application/shell/sys/linux/applets/micropython/raw
	url = ../../micropython/micropython.git
[submodule "application/shell/sys/linux/applets/iperf/raw"]
	path = application/shell/sys/linux/applets/iperf/raw
	url = ../../esnet/iperf.git
[submodule "application/shell/sys/linux/applets/openocd/raw"]
	path = application/shell/sys/linux/applets/openocd/raw
	url = ../../openocd-org/openocd
[submodule "application/component/ui/sgl/raw"]
	path = application/component/ui/sgl/raw
	url = https://gitee.com/li-shan-asked/sgl
