[submodule "vsf"]
	path = vsf
	url = ../vsf.git
[submodule "application/shell/sys/linux/applets/busybox/raw"]
	path = application/shell/sys/linux/applets/busybox/raw
	url = ../../mirror/busybox.git
[submodule "application/shell/sys/linux/applets/micropython/raw"]
	path = application/shell/sys/linux/applets/micropython/raw
	url = ../../micropython/micropython.git
